.education-box {
    margin: 30px 300px;
    border-radius: 14px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: lightgray;
}

#byui {
    
}

#davis {

}

#farmington {

}